  <header class="header" id="header">
    <nav class="nav">
      <div class="logo" translate="no"><span>File</span><span>Uploader</span></div>
      <span class="mode">
        <svg
          *ngIf="!bascule"
          (click)="modeLight()"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          width="25"
          height="25"
        >
          <path
            fill-rule="evenodd"
            d="M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 01.818.162z"
            clip-rule="evenodd"
          />
        </svg>

        <svg
          *ngIf="bascule"
          (click)="modeSombre()"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          width="25"
          height="25"
        >
          <path
            d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z"
          />
        </svg>
      </span>
    </nav>
  </header>

    <div class="content">
          <div class="preview-img">
              <span  *ngIf="!fileIsSelected" (click)="chooseFile()"
                >Cliquer
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  style="transform: rotate(180deg) translateY(-7px)"
                  fill="currentColor"
                  class="bi bi-hand-index-thumb"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 0 0 1 0V6.435l.106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 1 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.118a.5.5 0 0 1-.447-.276l-1.232-2.465-2.512-4.185a.517.517 0 0 1 .809-.631l2.41 2.41A.5.5 0 0 0 6 9.5V1.75A.75.75 0 0 1 6.75 1zM8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v6.543L3.443 6.736A1.517 1.517 0 0 0 1.07 8.588l2.491 4.153 1.215 2.43A1.5 1.5 0 0 0 6.118 16h6.302a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002zm2.094 2.025z"
                  />
                </svg>
                pour importer un fichier.
              </span>
              <i *ngIf="!fileIsSelected" click="chooseFile()" class="fa-solid fa-arrow-up-from-bracket"></i>
              <i *ngIf="fileIsSelected" class="fa-solid fa-file"></i>
              <div>
                <div></div>
              </div>
          </div>
        <div class="controls" >
          <div class="row" >
            <input
              (change)="updateFile($event)"
              hidden
              type="file"
              class="input-image"
            />
            <div id="file-Information" *ngIf="fileIsSelected">
              <div>{{selectedFile.name}}</div>
              <div >{{convertSize(selectedFile.size)}}</div>
            </div>
            <div id="button-container">
              <button (click)="chooseFile()" class="choose-img">
                <span *ngIf="!fileIsSelected">Importer un fichier</span>
                <span *ngIf="fileIsSelected">Changer le fichier</span>
              </button>
              <button *ngIf="fileIsSelected" (click)="saveFile()" class="save-img">
                {{textBtnSave}}
              </button>
            </div>
          </div>
        </div>
    </div>
  

  <footer class="footer">
    <p>
      Copyright &#169; • 
      <a class="link__footer" href="#" target="_blank">
        Dzoibo
      </a>
    </p>
  </footer>